* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #121212;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  background-repeat: repeat;
  background-size: auto;
  color: #e0e0e0;
}
